@using WebBanLapTop.Models
@using WebBanLapTop.Controllers
<!DOCTYPE html>
<html>
<head>
    <title>Colo Shop</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Colo Shop Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="~/Content/User/styles/bootstrap4/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/User/plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="~/Content/User/plugins/OwlCarousel2-2.2.1/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="~/Content/User/plugins/OwlCarousel2-2.2.1/owl.theme.default.css">
    <link rel="stylesheet" type="text/css" href="~/Content/User/plugins/OwlCarousel2-2.2.1/animate.css">
    <link rel="stylesheet" type="text/css" href="~/Content/User/styles/main_styles.css">
    <link rel="stylesheet" type="text/css" href="~/Content/User/styles/responsive.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    <link href="~/Content/assets/styles/footer.css" rel="stylesheet" />
</head>
<body>
    <div class="super_container">

        <!-- Header -->

        <header class="header trans_300">

            <!-- Top Navigation -->

            <div class="top_nav">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="top_nav_left">Miễn phí vận chuyển trên toàn quốc</div>
                        </div>
                        <div class="col-md-6 text-end">
                            <div class="top_nav_right">
                                <ul class="top_nav_menu">

                                    <!-- Currency / Language / My Account -->

                                    <li class="currency">
                                        <a href="#">
                                            VNĐ
                                            <i class="fa fa-angle-down"></i>
                                        </a>
                                        <ul class="currency_selection">
                                            <li><a href="#">usd</a></li>
                                            <li><a href="#">aud</a></li>
                                            <li><a href="#">eur</a></li>
                                            <li><a href="#">gbp</a></li>
                                        </ul>
                                    </li>
                                    <li class="language">
                                        <a href="#">
                                            Tiếng Việt
                                            <i class="fa fa-angle-down"></i>
                                        </a>
                                        <ul class="language_selection">
                                            <li><a href="#">English</a></li>
                                            <li><a href="#">Italian</a></li>
                                            <li><a href="#">German</a></li>
                                            <li><a href="#">Spanish</a></li>
                                        </ul>
                                    </li>
                                    <li class="account">
                                        @if (!Request.IsAuthenticated)
                                        {
                                            <a href="#" style="min-width: 110px;">
                                                Tài Khoản
                                                <i class="fa fa-angle-down"></i>
                                            </a>
                                            <ul class="account_selection" style="width:120%">
                                                <li><a href="/Account/Login"><i class="fas fa-sign-in-alt"></i>Đăng nhập</a></li>
                                                <li><a href="/Account/Register"><i class="fas fa-sign-in-alt"></i>Đăng kí</a></li>
                                            </ul>
                                        }
                                        else
                                        {
                                            <a href="#">
                                                Xin chào, @User.Identity.Name
                                                <i class="fa fa-angle-down"></i>
                                            </a>
                                            <ul class="account_selection">
                                                <li><a href="#"><i class="fa fa-user" aria-hidden="true"></i>Hồ sơ</a></li>
                                                <li><a href="javascript:document.getElementById('logOffForm').submit()"><i class="fas fa-sign-in-alt"></i>Đăng xuât</a></li>
                                            </ul>
                                        }
                                    </li>
                                </ul>
                                @if (Request.IsAuthenticated)
                                {
                                    <div style="display:none">
                                        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { @id = "logOffForm" }))
                                        {
                                            @Html.AntiForgeryToken()}
                                    </div>}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Main Navigation -->

            <div class="main_nav_container">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 text-right">
                            <div class="logo_container">
                                <a href="~/Home/Index">colo<span>shop</span></a>
                            </div>
                            <nav class="navbar">
                                <ul class="navbar_menu">
                                    <li><a href="/Home/Index" class="fw-bold">Trang chủ</a></li>
                                    <li><a href="/Introduces/Index" class="fw-bold">Giới Thiệu </a></li>
                                    <li><a href="/ProductDiscounts/Index" class="fw-bold">Khuyến mại</a></li>
                                    <li><a href="/Contact/Index" class="fw-bold">Liên Hệ</a></li>
                                </ul>
                                <ul class="navbar_user">
                                    <li class="search-container">
                                        <!-- Khung chứa input và icon -->
                                        <div id="searchBox" class="collapse search-box">
                                            <input type="text" id="searchInput" value="@ViewBag.Search" class="form-control search-input" placeholder="Tìm kiếm...">
                                        </div>

                                        <!-- Icon bấm để mở -->
                                        <button class="btn search-btn" data-bs-toggle="collapse" data-bs-target="#searchBox">
                                            <i class="fa fa-search" aria-hidden="true"></i>
                                        </button>
                                    </li>

                                    <li><a href="#"><i class="fa fa-user" aria-hidden="true"></i></a></li>

                                    <li class="checkout">
                                        <a href="/ShoppingCart/Index">
                                            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                            <span id="cart-count" class="checkout_items cart-count">@CartHelper.GetCartItemCount()</span>
                                        </a>
                                    </li>
                                </ul>

                                <div class="hamburger_container">
                                    <i class="fa fa-bars" aria-hidden="true"></i>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>

        </header>

        <div class="fs_menu_overlay"></div>
        <div class="hamburger_menu">
            <div class="hamburger_close"><i class="fa fa-times" aria-hidden="true"></i></div>
            <div class="hamburger_menu_content text-right">
                <ul class="menu_top_nav">
                    <li class="menu_item has-children">
                        <a href="#">
                            VNĐ
                            <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="menu_selection">
                            <li><a href="#">usd</a></li>
                            <li><a href="#">aud</a></li>
                            <li><a href="#">eur</a></li>
                            <li><a href="#">gbp</a></li>
                        </ul>
                    </li>
                    <li class="menu_item has-children">
                        <a href="#">
                            Tiếng Việt
                            <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="menu_selection">
                            <li><a href="#">English</a></li>
                            <li><a href="#">Italian</a></li>
                            <li><a href="#">German</a></li>
                            <li><a href="#">Spanish</a></li>
                        </ul>
                    </li>
                    <li class="menu_item has-children">
                        @if (!Request.IsAuthenticated)
                        {
                            <a href="#">
                                Tài Khoản
                                <i class="fa fa-angle-down"></i>
                            </a>
                            <ul class="menu_selection">
                                <li><a href="/Account/Login"><i class="fa fa-sign-in" aria-hidden="true"></i>Đăng nhập</a></li>
                                <li><a href="/Account/Register"><i class="fa fa-user-plus" aria-hidden="true"></i>Đăng kí</a></li>
                            </ul>
                        }
                        else
                        {
                            <a href="#">
                                Xin chào, @User.Identity.Name
                                <i class="fa fa-angle-down"></i>
                            </a>
                            <ul class="menu_selection">
                                <li><a href="#"><i class="fa fa-user" aria-hidden="true"></i>Hồ sơ</a></li>
                                <li><a href="javascript:document.getElementById('logOffForm').submit()"><i class="fa fa-sign-out" aria-hidden="true"></i>Đăng xuât</a></li>
                            </ul>
                        }
                    </li>
                    <li class="menu_item"><a href="/Home/Index">Trang chủ</a></li>
                    <li class="menu_item"><a href="/Introduce/Index">Giới Thiệu</a></li>
                    <li class="menu_item"><a href="/ProductDiscounts/Index">Khuyến mại</a></li>
                    <li class="menu_item"><a href="/Contact/Index">Liên Hệ</a></li>
                </ul>
            </div>
        </div>
        <link rel="stylesheet" type="text/css" href="~/Content/assets/styles/main_styles.css">
        <div style="margin-top:160px">
            @RenderBody()
        </div>
        <!-- Newsletter -->

        @*<div class="newsletter">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="newsletter_text d-flex flex-column justify-content-center align-items-lg-start align-items-md-center text-center">
                            <h4>Newsletter</h4>
                            <p>Subscribe to our newsletter and get 20% off your first purchase</p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <form action="post">
                            <div class="newsletter_form d-flex flex-md-row flex-column flex-xs-column align-items-center justify-content-lg-end justify-content-center">
                                <input id="newsletter_email" type="email" placeholder="Your email" required="required" data-error="Valid email is required.">
                                <button id="newsletter_submit" type="submit" class="newsletter_submit_btn trans_300" value="Submit">subscribe</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>*@

        <!-- Footer -->

    <footer class="shoe-store-footer">
        <div class="container">
            <div class="row g-4">
                <div class="col-12 col-sm-6 col-md-3">
                    <h4 class="footer-section-title">COLO SHOP</h4>
                    <p class="footer-description">
                        Chuyên cung cấp các sản phẩm laptop chính hãng với chất lượng tốt nhất và dịch vụ hậu mãi tận tâm.
                    </p>
                    <div class="social-space">
                        <a href="#" class="social-icon"><i class="fab fa-facebook"></i></a>
                        <a href="#" class="social-icon"><i class="fab fa-instagram"></i></a>
                        <a href="#" class="social-icon"><i class="fab fa-twitter"></i></a>
                        <a href="#" class="social-icon"><i class="fab fa-youtube"></i></a>
                    </div>
                </div>

                <div class="col-12 col-sm-6 col-md-3">
                    <h4 class="footer-section-title">LIÊN KẾT NHANH</h4>
                    <div class="footer-links">
                        <a href="@Url.Action("Index", "Home")" class="footer-link">Trang chủ</a>
                        <a href="@Url.Action("Products", "Home")" class="footer-link">Sản phẩm</a>
                        <a href="@Url.Action("About", "Home")" class="footer-link">Giới thiệu</a>
                        <a href="@Url.Action("News", "Home")" class="footer-link">Tin tức</a>
                        <a href="@Url.Action("Contact", "Home")" class="footer-link">Liên hệ</a>
                    </div>
                </div>

                <div class="col-12 col-sm-6 col-md-3">
                    <h4 class="footer-section-title">CHÍNH SÁCH</h4>
                    <div class="footer-links">
                        <a href="@Url.Action("ReturnPolicy", "Policy")" class="footer-link">Chính sách đổi trả</a>
                        <a href="@Url.Action("Privacy", "Policy")" class="footer-link">Chính sách bảo mật</a>
                        <a href="@Url.Action("Terms", "Policy")" class="footer-link">Điều khoản dịch vụ</a>
                        <a href="@Url.Action("BuyingGuide", "Policy")" class="footer-link">Hướng dẫn mua hàng</a>
                        <a href="@Url.Action("Payment", "Policy")" class="footer-link">Phương thức thanh toán</a>
                    </div>
                </div>

                <div class="col-12 col-sm-6 col-md-3">
                    <h4 class="footer-section-title">LIÊN HỆ</h4>
                    <div class="contact-info-space">
                        <p class="contact-info-text">
                            <i class="fas fa-map-marker-alt"></i> 55 Giải Phóng, Hai Bà Trưng, TP.Hà Nội
                        </p>
                        <p class="contact-info-text">
                            <i class="fas fa-phone"></i> 0123 456 789
                        </p>
                        <p class="contact-info-text">
                            <i class="fas fa-envelope"></i> info@@coloshop.vn
                        </p>
                    </div>
                </div>
            </div>

            <hr class="footer-divider" />

            <div class="row">
                <div class="col-12 text-center">
                    <p class="footer-copyright">
                        © @DateTime.Now.Year Sneaker Store. All rights reserved
                    </p>
                </div>
            </div>
        </div>
    </footer>

    </div>
    <style>
        .navbar_user {
            display: flex;
            align-items: center;
            list-style: none;
            margin: 0;
            padding: 0;
            gap: 15px;
        }

            .navbar_user li {
                display: flex;
                align-items: center;
            }

            .navbar_user a {
                color: #333;
                text-decoration: none;
                font-size: 16px;
                transition: color 0.3s ease;
            }

                .navbar_user a:hover {
                    color: #007bff;
                }

        .search-container {
            display: flex;
            align-items: center;
            position: relative;
        }

        .search-btn {
            border: none;
            padding: 5px 10px;
            cursor: pointer;
            font-size: 16px;
        }


        #searchBox {
            width: 0;
            overflow: hidden;
            opacity: 0;
            transition: width 0.3s ease, opacity 0.3s ease, margin 0.3s ease;
        }

            #searchBox.show {
                width: 200px;
                opacity: 1;
                margin-right: 10px;
            }
    </style>
    <script>
        $(document).ready(function () {
            function timkiem_SP() {
                var searchValue = $('#searchInput').val().trim();
                var currentUrl = '/Home/Index';
                window.location.href = currentUrl + '?search=' + encodeURIComponent(searchValue);
            }
            $('#searchInput').on('keypress', function (e) {
                if (e.which === 13) {
                    e.preventDefault();
                    timkiem_SP();
                }
            });
            $('.search-btn').on('click', function () {
                if ($('#searchBox').hasClass('show') && $('#searchInput').val().trim() !== '') {
                    timkiem_SP();
                }
            });
        });

    </script>
    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")*@
    <script src="~/Content/User/js/jquery-3.2.1.min.js"></script>
    <script src="~/Content/User/styles/bootstrap4/popper.js"></script>
    <script src="~/Content/User/styles/bootstrap4/bootstrap.min.js"></script>
    <script src="~/Content/User/plugins/Isotope/isotope.pkgd.min.js"></script>
    <script src="~/Content/User/plugins/OwlCarousel2-2.2.1/owl.carousel.js"></script>
    <script src="~/Content/User/plugins/easing/easing.js"></script>
    <script src="~/Content/User/js/custom.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
    <!-- Slick JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- Template Javascript -->
    @*<script src="~/Content/User/js/main.js"></script>*@
    <script src="~/Scripts/jsShopping.js"></script>
    @RenderSection("scripts", required: false)
    <!-- Template Javascript -->

</body>
</html>