@using PagedList;
@using PagedList.Mvc;
@model IPagedList<WebBanLapTop.Models.vw_ShoppingCart>
@{
    ViewBag.Title = "Index";
}
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/categories_styles.css">
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/categories_responsive.css">
<div class="container product_section_container">
    <div class="row">
        <div class="col product_section clearfix">

            <!-- Breadcrumbs -->

            <div class="breadcrumbs d-flex flex-row align-items-center">
                <ul>
                    <li><a href="/Home/Index">Home</a></li>
                    <li class="active"><a href="/"><i class="fa fa-angle-right" aria-hidden="true"></i>Giỏ hàng</a></li>
                </ul>
            </div>

            <!-- Sidebar -->
            <!-- Main Content -->
            <div class="row">
                <div class="col-md-12" id="load_data">
                    <table class="table table-striped ">
                        <tr class="text-center">
                            <th>STT</th>
                            <th>Ảnh Sản Phẩm</th>
                            <th>Sản Phẩm</th>
                            <th>Danh Mục</th>
                            <th>Giá</th>
                            <th style="width:100px;">Số Lượng</th>
                            <th>Thành Tiền</th>
                            <th></th>
                        </tr>
                        @if (Model != null && Model.Any())
                        {
                            var i = 0;
                            var tongtien = decimal.Zero;
                            foreach (var item in Model)
                            {
                                <tr class="text-center" id="trow_@item.cartitem_id">
                                    <td>@(i+1)</td>
                                    <td><img src="@item.ProductImage" width="60"></td>
                                    <td>
                                        @if (item.start_date < DateTime.Now && item.end_date > DateTime.Now)
                                        {
                                            <a href="#">@item.ProductName</a>
                                            <span class="badge badge-danger">SALE</span>
                                        }
                                        else
                                        {
                                            <a href="#">@item.ProductName</a>
                                        }
                                    </td>
                                    <td>@item.CategoryName</td>
                                    <td>
                                        @if (item.start_date < DateTime.Now && item.end_date > DateTime.Now)
                                        {
                                            decimal discountPrice = 0;
                                            if (item.is_fixed == true)
                                            {
                                                discountPrice = (decimal)item.ProductPrice - (decimal)item.amount;
                                            }
                                            else
                                            {
                                                discountPrice = (decimal)item.ProductPrice * (1 - (decimal)item.amount / 100);
                                            }
                                            <span class="selling-price">@discountPrice.ToString("N0") đ</span>
                                        }
                                        else
                                        {
                                            <span class="selling-price">@item.ProductPrice.Value.ToString("N0") đ</span>
                                        }
                                    </td>
                                    <td>
                                        <input type="number" class="form-control" id="Quantity_@item.cartitem_id" value="@item.Quantity" />
                                    </td>
                                    <td>@String.Format("{0:N0} đ", item.TotalAmount)</td>
                                    <td>
                                        <a href="#" data-id="@item.cartitem_id" class="btn btn-sm btn-danger btnDelete">Xóa</a>
                                        <a href="#" data-id="@item.cartitem_id" class="btn btn-sm btn-success btnUpdate">Cập nhật</a>
                                    </td>
                                </tr>
                                tongtien += item.TotalAmount ?? decimal.Zero;
                                i++;
                            }
                            <tr>
                                <th colspan="6" class="text-right">Tổng: </th>
                                <th class="text-center">@String.Format("{0:N0} đ", tongtien)</th>
                                <th></th>
                            </tr>
                            <tr>
                                <th colspan="6" class="text-right"></th>
                                <th colspan="2" class="text-center">
                                    <a href="#" class="btn btn-warning btnDeleteAll">Xóa Hết</a>
                                    <a href="/ShoppingCart/Checkout" class="btn btn-info">Thanh Toán</a>
                                </th>
                            </tr>
                        }
                        else
                        {
                            <tr>
                                <td colspan="8" class="text-center">Giỏ hàng trống</td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
