@model IEnumerable<WebBanLapTop.Models.tb_category>
@{
    ViewBag.Title = "DanhMucSanPham";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section naviheader{
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="~/Content/Admin/index3.html" class="nav-link">Home</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="#" class="nav-link">Danh mục sản phẩm</a>
        </li>
    </ul>
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Quản lý danh mục sản phẩm</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Quản lý danh mục sản phẩm</li>
                </ol>
            </div>
        </div>
    </div>
</section>

<!-- Main content -->
<section class="content">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Danh mục sản phẩm</h3>

            <div class="card-tools">
                <a href="@Url.Action("Them", "QLDMSP", new { area = "Admin" })" class="btn btn-info"><i class="fas fa-plus"></i> Thêm mới</a>
            </div>
        </div>

        <div class="card-body">
            <div class="col-sm-12">
                <table id="tb_show" class="table table-bordered">
                    <thead>
                        <tr>
                            <th>STT</th>
                            <th>Mã danh mục</th>
                            <th>Danh mục Laptop</th>
                            <th>Mô tả</th>
                            <th>Thao tác</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null && Model.Any())
                        {
                            var index = (ViewBag.Page - 1) * ViewBag.PageSize + 1;
                            foreach (var item in Model)
                            {
                                <tr id="trow_@item.category_id">
                                    <td>@index</td>
                                    <td>@item.category_id</td>
                                    <td>@item.name</td>
                                    <td>@item.description</td>
                                    <td>
                                        <a href="/Admin/QLDMSP/Sua/@item.category_id" class="btn btn-primary"> <i class="fas fa-edit"></i> Sửa</a>
                                        @*<a href="#" data-id="@item.category_id" class="btn btn-sm btn-danger btnDelete">Xóa</a>*@
                                        <a href="#"
                                           data-id="@item.category_id"
                                           data-status="@item.is_active"
                                           class="btn @(item.is_active ? "btn-warning" : "btn-success") btnToggle">

                                            @Html.Raw(item.is_active
                                                ? "<i class='bi bi-eye-slash'></i>"
                                                : "<i class='bi bi-eye'></i>"
                                            )

                                            @(item.is_active ? "Ẩn" : "Hiện")
                                        </a>

                                    </td>
                                </tr>
                                index++;
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="5" class="text-center">Không có bản ghi nào</td>
                            </tr>
                        }
                    </tbody>
                </table>
                <div class="mt-3">
                    <nav>
                        <ul class="pagination" id="mainPagination">
                            @if (ViewBag.Page > 1)
                            {
                                <li class="page-item">
                                    <a href="javascript:void(0)" onclick="goToPage(@(ViewBag.Page - 1))" class="page-link">«</a>
                                </li>
                            }

                            @for (int i = 1; i <= ViewBag.TotalPages; i++)
                            {
                                if (i == ViewBag.Page)
                                {
                                    <li class="page-item active">
                                        <a href="javascript:void(0)" class="page-link">@i</a>
                                    </li>
                                }
                                else
                                {
                                    <li class="page-item">
                                        <a href="javascript:void(0)" onclick="goToPage(@i)" class="page-link">@i</a>
                                    </li>
                                }
                            }

                            @if (ViewBag.Page < ViewBag.TotalPages)
                            {
                                <li class="page-item">
                                    <a href="javascript:void(0)" onclick="goToPage(@(ViewBag.Page + 1))" class="page-link">»</a>
                                </li>
                            }
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>

@section scripts{
    <script>
        function goToPage(page) {
            window.location.href = "?page=" + page;
        }
        $(".btnToggle").click(function () {
            let id = $(this).data("id");
            let active = $(this).data("status");
            let actionText = active ? "ẩn" : "hiện";
            Swal.fire({
                title: "Xác nhận",
                text: "Bạn có chắc chắn muốn " + actionText + " danh mục này không ?",
                icon: "warning",
                showCancelButton: true,
                confirmButtonText: "Có",
                cancelButtonText: "Hủy",
                reverseButtons: true,
            }).then((result) => {
                if (result.isConfirmed) {
                    $.post("/Admin/QLDMSP/Toggle", { id: id }, function (response) {
                        Swal.fire({
                            title: "Thành Công",
                            text: response,
                            icon: "success",
                            showConfirmButton: false,
                            timer: 1500,
                            timerProgressBar: true
                        }).then(() => {
                            location.reload();
                        });
                    }).fail(function () {
                        Swal.fire({
                            title: "Lỗi",
                            text: "Không thể cập nhật trạng thái!",
                            icon: "error"
                        });
                    });
                }
            });
        });
    </script>
}